Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Megascans/3D_Plants/European_Spindle_wk1ncbxja/S_European_Spindle_wk1ncbxja_0_Var6_lod0.uasset
